<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${roomId != null} ? 'Edit Room' : 'Add New Room'">Room Form</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="form-container">
    <h2 th:text="${roomId != null} ? 'Edit Room' : 'Add New Room'">Room Form</h2>
    <div th:if="${roomId != null}">
        <form th:action="@{/admin/rooms/edit/{id}(id=${roomId})}" th:method="post" th:object="${roomRequest}">
            <input type="hidden" name="_method" value="put"/>
            <div class="form-group">
                <label for="roomNumber">Room Number:</label>
                <input type="text" th:field="*{roomNumber}" id="roomNumber" placeholder="Room Number" required>
                <p class="error" th:if="${#fields.hasErrors('roomNumber')}" th:errors="*{roomNumber}"></p>
            </div>
            <div class="form-group">
                <label for="roomType">Room Type:</label>
                <select th:field="*{roomType}" id="roomType" required>
                    <option value="">Select Room Type</option>
                    <option value="SINGLE">Single</option>
                    <option value="DOUBLE">Double</option>
                    <option value="SUITE">Suite</option>
                    <option value="DELUXE">Deluxe</option>
                </select>
                <p class="error" th:if="${#fields.hasErrors('roomType')}" th:errors="*{roomType}"></p>
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" step="0.01" min="0" th:field="*{price}" placeholder="Price" required>
                <p class="error" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
            </div>
            <button type="submit" class="btn">Update Room</button>
        </form>
    </div>
    <div th:if="${roomId == null}">
        <form th:action="@{/admin/rooms/create}" method="post" th:object="${roomRequest}">
            <div class="form-group">
                <label for="roomNumber">Room Number:</label>
                <input type="text" th:field="*{roomNumber}" placeholder="Room Number" required>
                <p class="error" th:if="${#fields.hasErrors('roomNumber')}" th:errors="*{roomNumber}"></p>
            </div>
            <div class="form-group">
                <label for="roomType">Room Type:</label>
                <select th:field="*{roomType}"  required>
                    <option value="">Select Room Type</option>
                    <option value="SINGLE">Single</option>
                    <option value="DOUBLE">Double</option>
                    <option value="SUITE">Suite</option>
                    <option value="DELUXE">Deluxe</option>
                </select>
                <p class="error" th:if="${#fields.hasErrors('roomType')}" th:errors="*{roomType}"></p>
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" step="0.01" min="0" th:field="*{price}" id="price" placeholder="Price" required>
                <p class="error" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
            </div>
            <button type="submit" class="btn">Create Room</button>
        </form>
    </div>
    <div class="back-button-container">
        <a th:href="@{/admin/rooms}" class="btn back-btn">← Back to Room List</a>
    </div>
</div>
</body>
</html>
